$icomoon-font-path: "../fonts" !default;

$icon-github: "\f09b";
$icon-linkedin: "\f0e1";
$icon-stack-overflow: "\f16c";
$icon-gitlab: "\f296";

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("#{$icomoon-font-path}/icomoon.ttf?mrlk23") format("truetype"),
  url("#{$icomoon-font-path}/icomoon.woff?mrlk23") format("woff"),
  url("#{$icomoon-font-path}/icomoon.svg?mrlk23#icomoon") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
  // use !important to prevent issues with browser extensions that change fonts
  // sass-lint:disable no-important
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering ===========
  // sass-lint:disable no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github {
  &:before {
    content: $icon-github;
  }
}

.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}

.icon-stack-overflow {
  &:before {
    content: $icon-stack-overflow;
  }
}

.icon-gitlab {
  &:before {
    content: $icon-gitlab;
  }
}
