@import "inuitcss";
@import "icons";


$body-color: rgb(205, 211, 222);
$sidebar-width: 30%;
/// darkest
/// 34, 34, 34
/// 41, 41, 41
/// 70, 69, 69
/// 78, 78, 78
$primary-background: rgb(41, 41, 41);
$secondary-background: rgb(34, 34, 34);


body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: $body-color;
  background-color: $primary-background;
}

a {
  color: $body-color;
}

.sidebar {

  color: white;
  background-color: #222222;

  a {
    color: white;
  }

  @include mq($from: desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    left: 0;
    padding: 8em 4em;
    position: fixed;
    text-align: right;
    top: 0;
    width: $sidebar-width;
  }
}

.main {

  @include mq($from: desktop) {
    margin-left: $sidebar-width;
    max-width: 54em;
    padding: 8em 4em 4em 4em;
  }
}

pre {
    word-wrap: break-word;
    background: rgb(34, 34, 34);
    padding: 30px;
    // border-top: 30px rgb(70, 69, 69) solid;
    border-radius: 10px 10px 0 0;
    word-wrap: break-word;
    margin-bottom: 0;
}


.code-snippet__footer {
      text-align: right;
    background: #464545;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}
