head
  block head

  // Thanks for stopping by.
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, user-scalable=no, minimal-ui')
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
  link(rel='stylesheet', href='/css/main.css')
  title
    block title
      | foo

  block styles
