.sidebar__inner
  .sidebar__header
    a(href="/" title="")
      !=sitename
  .sidebar__body
    !=description
  .sidebar__footer
    ul.o-list-inline.o-layout--right.social-links
      - var profiles = [{  "network": "LinkedIn",  "username": "Stephen Coe",  "url": "https://www.linkedin.com/in/stephencoeuk"},{  "network": "GitHub",  "username": "stephencoe",  "url": "https://github.com/stephencoe"},{  "network": "GitLab",  "username": "stephencoe",  "url": "https://gitlab.com/stephencoe"},{  "network": "Stack-Overflow",  "username": "stephencoe",  "url": "http://stackoverflow.com/users/533585/stephen"}];
      each profile in profiles
        li.o-list-inline__item.social-links__item
          a(href=`${profile.url}`, target="_blank", class=`icon-${ profile.network.toLowerCase() }`, rel="nofollow")
    div
      a(href="https://resume.madebybox.co.uk" title="My CV" target="_blank") CV
