doctype html
html
  include _partial/head.pug
  body
    div
    block body
      .wrapper
        aside.sidebar
          include _partial/sidebar.pug
          block sidebar
        main(role="main", class="main")
          block main
            .posts
              h1 Posts
              if collections.posts && collections.posts.length > 0
                each post in collections.posts
                  .post-item
                    header
                      h2!= post.title
                    a(href=`/${post.path}` class="post-item__link")!= post.title
                    div!= post.excerpt
              else
                h2= collections.posts.length
                h2 there ain't no posts here, man

            div!= contents
    include _partial/footer.pug
