extends layout

block main
  .posts
    h1 Posts
    if collections.posts && collections.posts.length > 0
      each post in collections.posts
        .post-item
          header
            h2!= post.title
          a(href=`/${post.path}`)!= post.title
          div!= post.excerpt
    else
      h2= collections.posts.length
      h2 there ain't no posts here, man
